# Virtual environment
.venv/

# Model folders
audio_module/vosk-model-en-in-0.5/

# Python cache files
__pycache__/
*.pyc

# Large binaries / model weights
*.mdl
*.fst
*.carpa
*.pth
*.pt
*.dll
*.pyd

# Logs and temp files
*.log
*.tmp

